@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.heroBg {
  background-color:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(55px);
}


.CardBg{
  background-color:rgba(22, 22, 22, 0.2);
  backdrop-filter: blur(55px);
}

.TextBg{
  background:linear-gradient(0deg, #ffff , rgb(99, 5, 175)60%);
  background-clip: text;
  -webkit-text-fill-color: transparent  ;
}

/* Navbar tab highlighter animation*/

.Highlighter{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  height: 100%;
  width:calc(100% / 3);
  background-color:white;
  border-radius:0.5rem;
  transform:translateX(0%);
  transition:transform 0.2s ease-in-out
  
}


.List-1:checked  ~ .Highlighter{
  transform: translateX(0%);
}
.List-1:checked ~ .List-1{
  color:black;
}

.List-2:checked ~ .Highlighter{
  transform: translateX(100%);
}
.List-2:checked ~ .List-2{
  color:black;
}

.List-3:checked ~ .Highlighter{
  transform: translateX(200%);
}
.List-3:checked ~ .List-3{
  color:black;
}