@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.heroBg {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px
  );
  background-size: 40px 40px;
}

.navbar {
  backdrop-filter: blur(15px);
  background: rgba(20, 20, 20, 0.6);
}

.CardBg {
  /* background-color: rgba(20, 19, 19, 0.1); */
  background: radial-gradient(
    circle at top left,
    rgba(168, 85, 247, 0.15),
    transparent 40%
  );
  backdrop-filter: blur(21px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.TextBg {
  background: linear-gradient(0deg, #ffff, rgb(99, 5, 175) 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Circle-1 {
  height: 17rem;
  width: 17rem;
  position: absolute;
  top: 10rem;
  left: 20rem;
  border-radius: 50%;
  font-size: 18px;
  background: linear-gradient(135deg, #a85cff, #b82bff, #aa00ff);
  filter:blur(120px);
  opacity: 0.6;
  box-shadow:
    0 0 20px rgba(190, 70, 255, 0.6),
    0 0 40px rgba(205, 40, 255, 0.5),
    0 0 80px rgba(187, 0, 255, 0.4);
}

.Circle-2 {
  height: 17rem;
  width: 17rem;
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  border-radius: 50%;
  font-size: 18px;
  background: linear-gradient(135deg, #a85cff, #b82bff, #aa00ff);
  filter:blur(120px);
  opacity: 0.6;
  box-shadow:
    0 0 20px rgba(190, 70, 255, 0.6),
    0 0 40px rgba(205, 40, 255, 0.5),
    0 0 80px rgba(187, 0, 255, 0.4);
}

/* Navbar tab highlighter animation*/

.Highlighter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 96%;
  width: calc(100% / 3);
  background-color: rgb(222, 220, 220);
  border-radius: 0.9rem;
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}

.List-1:checked ~ .Highlighter {
  transform: translateX(0%);
}
.List-1:checked ~ .List-1 {
  color: black;
}

.List-2:checked ~ .Highlighter {
  transform: translateX(100%);
}
.List-2:checked ~ .List-2 {
  color: black;
}

.List-3:checked ~ .Highlighter {
  transform: translateX(200%);
}
.List-3:checked ~ .List-3 {
  color: black;
}
